h1{
    color: red;
}
body{
    background-color: aqua;
}
.MENU{
   text-decoration: none; 
   list-style: none;
   position: absolute;
   top: O;
   right: 0;
   left: 0;
}
.MENU li{
    list-style: none;
    text-decoration: none;
    color: brown;
}